/* ProfileCard.css */
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-card {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    /* background-color: #f0f0f0;
    border: 2px solid #ccc; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.profile-image-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid #ccc;
}


.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-info {
    width: 100px;
    height: auto;
    /* border: solid 1px black; */
    text-align: center;
}

.profile-info h5 {
    word-wrap: break-word;
    font-size: 1.1em;
    margin: 0;
}

.profile-info p {
    color: #666;
    margin: 5px 0 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.edit-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-form-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
