
.sidebar{
    border: solid 1px black;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 130px;
    background-color: #04B1B8;
    display: flex;
    flex-direction: column;
    align-items: flex; 
    padding: 10px 10px; 
}


.sidebar ~ .main-content {
    left: 130px;
    width: calc(100% - 130px);
}

.sidebar a {
    text-decoration: none; /* This should remove the underline */
    color: white;
    margin-bottom: 10px;
    font-size: 18px; /* Optional: Adjust the font size */
}

.sidebar a:hover {
    color: gold; 
}
.menu-btn:hover{
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

i{
    font-size: 30px;
}

.link-container {
    position: relative;
    display: flex;
    align-items: center;
}
