
.sidebar{
    border: solid 1px black;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #04B1B8;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 10px 10px; 
}

.sidebar.active{
    width: 200px;
}

.sidebar.active ~ .main-content {
    left: 200px;
    width: calc(100% - 200px);
}

.sidebar a {
    text-decoration: none; /* This should remove the underline */
    color: white;
    margin-bottom: 10px;
    font-size: 18px; /* Optional: Adjust the font size */
}

.sidebar a:hover {
    color: gold; 
}
.menu-btn:hover{
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

i{
    font-size: 30px;
}

.tooltip {
    position: absolute;
    left: 90px; /* Adjust this value based on your layout  and to include a 20px gap */
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff; /* Tooltip background color */
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    color: #171616; /* Tooltip text color */
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 1000; /* Ensure the tooltip is above other elements */
}

.link-container {
    position: relative;
    display: flex;
    align-items: center;
}
